<?xml version="1.0" encoding="UTF-8"?>
<!-- VO를 접근할 때 간단한 별칭을 주기 위해 만드는 파일임 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spring.client.board.vo.BoardVO" alias="board"/>
		<typeAlias type="com.spring.client.reply.vo.ReplyVO" alias="reply"/>
		<typeAlias type="com.spring.client.member.vo.MemberVO" alias="member"/>
		<typeAlias type="com.spring.client.product.vo.ProductVO" alias="product"/>
		<typeAlias type="com.spring.common.vo.ProductDetailVO" alias="productDetail"/>
		<typeAlias type="com.spring.client.notice.vo.NoticeVO" alias="notice"/>
		<typeAlias type="com.spring.client.qna.vo.QnaVO" alias="qna"/>
		<typeAlias type="com.spring.admin.product.vo.ProductManageVO" alias="productManage"/>
		<typeAlias type="com.spring.common.vo.ImageVO" alias="image"/>
		<typeAlias type="com.spring.client.orders.vo.OrdersVO" alias="orders" />
		<typeAlias type="com.spring.client.orders.vo.OrdersDetailVO" alias="Dateil" />
		<typeAlias type="com.spring.client.mypage.vo.MypageVO" alias="mypage" />
	</typeAliases>
</configuration>
